<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

include header.pug
div.nav
    h1.backBtn
        a(href="/") back to homepage
center
    div
        h1= "Forms Submit page"
        br
        h2= form_name
        br

        form(action="/submit/"+form_id, method="post")
            table.table.table-hover
                each field in fields
                    tr
                        th.table_content= field.label
                        th.table_content
                            // - var cell_id = "input_"+field.name
                            input.form-control(name=field.name, type=field.type, required='')
            button.btn.btn-primary(type='submit') submit!