<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


include header.pug
div.nav
    h1.backBtn
        a(href="/") back to homepage
center
    h1= "Forms Submit page"
    br
    h2= form_name
    br
br
center
    table.table.table-hover
        th.table_titles
        each field in fields
            th.table_titles= field.name

        - var i = 1
        each submit in answers
            tr
                th.table_content= i++
                each ans, qeustion in submit
                    th.table_content= ans.content
                        if ans.type === 'color'
                            div(style="width: 10px; height: 10px; background-color: "+ans.content)

br
br


