<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
style(type="text/css").
    .Y-forms_h1 {
        background-color:  bisque;
        margin-top: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align:  -webkit-center;
    }
    .table_titles {
        text-align:  -webkit-center;
        background-color:  cornsilk;
    }
    .table_content {
        text-align:  -webkit-center;
        font-weight: normal;
    }
    div {
        width: max-content;
    }


html
    head
        title= "Submit page"
    body
        h1.Y-forms_h1
            a(href="/") Y-forms
        br
        center
            h1= "Forms Submit page"
            br
            h2= form_name
            br
        br
        center
            table.table.table-hover
                th.table_titles
                each field in fields
                    th.table_titles= field.name

                - var i = 1
                each submit in answers
                    tr
                        th.table_content= i++
                        each ans, qeustion in submit
                            th.table_content= ans

        br
        br


